.height-100vh {
    height: 100vh;
}

.width-200 {
    width: 200px;
}

.header-content {
    font-weight: 500;
    color: azure;
}

.padding-10 {
    padding: 10px;
}

.mat-list-item.active {
    color: var(--primary-color);
    font-weight: 600;
}
